<%= form_for @type_expense do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :category %><br />
    <%= f.collection_select :category_expense_id, CategoryExpense.all,:id, :name, :prompt => true %>
  </p>
  <p><%= f.submit %></p>
<% end %>
